.cuadro-grisStyle{
  background-color: #cccccc;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  float: left;
  max-width: 80%;
}

.cuadro-rosaStyle{
  background-color: #FFC0CB;
  border-radius: 10px 0 10px 10px;
  padding: 10px;
  float: right;
  max-width: 80%;
}

.trianguloRosa {
  width: 100px;
  height: 100px;
  background-color: #FFC0CB;
  clip-path: polygon(0 20%, 100% -20%, 0 0);
  margin-left: -5px;
}

.trianguloGris {
  width: 100px;
  height: 100px;
  background-color: #cccccc;
  clip-path: polygon(100% 20%, 0 -20%, 100% 0);
  margin-right: -5px;
}

.inputMensajeStyle{
  background-color: #cccccc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.textareaStyle{
  width: 100%;
  height: 40px;
  max-height: 300px;
  overflow-y: auto;
}

.botoEnviarStyle{
  border-radius: 100%;
}

.iconoEnviarStyle{
  color: #999999;
  font-size: 30px;
}

.gridStyle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro-gris-horaStyle {
  color: #757575;
  font-size: smaller;
  font-weight: bold;
  text-align: right;
}

.cuadro-rosa-horaStyle {
  color: #757575;
  font-size: smaller;
  font-weight: bold;
  text-align: left;
}

.cuadro-rosa-trashStyle{
  color: red;
  display: flex;
  justify-content: flex-end;
}
