<ion-card button="true">
  <ion-card-content>
    <ion-row class="tarjetaStyle" [ngStyle]="contacteStyle">
      <ion-col size="2" style="width:20%;">
        <ion-img [src]="imagenLogo" alt="logo" class="logoStyle"></ion-img>
      </ion-col>
      <ion-col>
        <ion-row><ion-label class="tituloStyle">{{titulo}}</ion-label></ion-row>
        <ion-row><ion-label class="estatAlertaStyle">{{estatAlerta}}</ion-label></ion-row>
      </ion-col>
      <ion-col size="2.5">
        <ion-label class="fechaStyle">{{fecha}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
