.tarjetaStyle{
  width: auto;
  height: auto;
}

.logoStyle{
  height: auto;
  display: block;
}

.tituloStyle{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: black;
}

.fechaStyle{
  font-size: 15px;
  color: grey;
  position: absolute;
  top: 0;
  right: 0;
}

.estatAlertaStyle{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: red;
}
