h1 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  line-height: 15px;
  color: black;
  text-align: right;
}

.resultatBuit {
  font-size: 15px;
  line-height: 22px;
  color: #8c8c8c;
  margin-left: 25px;
  margin-right: 25px;
}

.ofertas-container {
  display: flex;
  justify-content: center;
}

.custom-list {
  --ion-item-background: white;
  color: white;
}

.custom-infinite-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
}
