ion-card-content {
  color: black;
  line-height: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
}

ion-card-title {
  font-weight: bold;
  font-size: 17px;
}

.estilTarjeta {
  border-radius: 10px;
  background: #F5F5F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.icona {
  text-align: right;
}
