h1 {
  font-size: 15px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

ion-label {
  font-size: 13px;
}

.info {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 15px;
}

.info-extra {
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 15px;
  font-size: 13px;
  color: #8c8c8c;
}

.boto-inscriure {
  font-weight: bold;
  text-align: center;
}

.enllaç-publicacio {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.valora-empresa {
  font-size: 15px;
  text-align: right;
}
