h1 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
  line-height: 15px;
  color: black;
  text-align: right;
  margin-top: 20px
}

.llistaContactesBuit{
  font-size: 12px;
  line-height: 22px;
  color: #8c8c8c;
  margin-left: 25px;
}

.trashStyle{
  color: grey;
  padding-right: 10px;
}

.searchbarStyle{
  max-width: 90%;
}

.col-trashStyle{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.red-trashStyle{
  color: red;
  padding-right: 10px;
}

