.tarjetaStyle{
  width: auto;
  height: auto;
}

.logoStyle{
  height: auto;
  display: block;
}

.tituloStyle{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: black;
}

.fechaStyle{
  font-size: 15px;
  color: grey;
  position: absolute;
  top: 0;
  right: 0;
}

.bolaRojaStyle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numMensajesStyle{
  font-size: 18px;
  color: white;
  font-weight: bold;
  //background-color: rgba(255, 0, 0, 255);
  //border-radius: 100%;
  //padding: 2px 4px;
}
