ion-card-content {
  color: black;
  line-height: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
  background: #F5F5F5;
}

ion-card-title {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

ion-card-subtitle {
  color: #666666;
  font-size: 14px;
}

.perfil {
  box-shadow: none;
}

.infoExtra {
  font-size: 12px;
  color: #8c8c8c;
  margin-left: 10px;
  margin-right: 10px;
}


.infoOrg {
  padding-left: 0;
}

